<ion-header>
  <ion-toolbar>
    <ion-title>The Movie Database</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button color="warning" [routerLink]="'../trending'">
    <ion-card-header>
      <ion-card-title>Trending Movies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Daily updating list of popular / trending movies.
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" [routerLink]="'../top-rated'">
    <ion-card-header>
      <ion-card-title>Top-Rated Movies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Top-rated movies of all time, based on user ratings.
    </ion-card-content>
  </ion-card>
  <ion-card color="success" [routerLink]="'../upcoming'">
    <ion-card-header>
      <ion-card-title>Upcoming Movies</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Upcoming movies in Finland.
    </ion-card-content>
  </ion-card>
</ion-content>
